<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>SignUp on Wanderlust</h3>
        <br>
        <form method="POST" action="/signup" novalidate class="needs-validation">
            
            <div class="mb-3">

                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="Enter Username" type="text" class="form-control" id="username" required>

                <div class="invalid-feedback">Please enter Username.</div>
                <div class="valid-feedback">Looks good!</div>

            </div>
            
            <div class="mb-3">

                <label for="email" class="form-label">Email</label>
                <input name="email" placeholder="Enter Your Email ID" type="email" class="form-control" id="email" required>

                <div class="invalid-feedback">Please enter a Valid Email.</div>
                <div class="valid-feedback">Looks good!</div>

            </div>
            
            <div class="mb-3">

                <label for="password" class="form-label">Password</label>
                <input name="password" placeholder="Enter Password." type="password" class="form-control" id="email" required>

                <div class="invalid-feedback">Please enter Password.</div>
                <div class="valid-feedback">Looks good!</div>

            </div>

            <button class="btn btn-success mt-3">SignUp</button>
            <br /><br><br>

            <h6 class="offset-3">Already have an account ? <a class="link" href="/login">Login</a> to your account.</h6>
            <br><br>

        </form>
    </div>
</div>
    